
#loader {
	width: 50rem;
	height: 50rem;
	z-index: 2;
	position: absolute;
	top: 35%;
	right: 10%;
	border-radius: 11px;

	animation: spin 2.9s ease forwards,               
	fadeOut 2.9s forwards;
	
	&::before, &::after {
		content: '';
		width: 40%;
		height: 40%;
		display: block;
		position: absolute;
		border-radius: 9px;
	}
	&::before {
		top: 3px;
		left: 3px;
		background: #2b6620;
	}
	&::after {
		bottom: 3px;
		right: 3px;
		background: #204e66;
	}
}

@keyframes spin {
	from {
		transform: rotate(135deg);
    opacity: 100%;
	}
	to {
		transform: rotate(495deg);
    opacity: 0%;
	}
}

@keyframes fadeOut {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0%;
	}
}
