    //Police coding
$titlelogo-font-family: shrikhand; //
$text-font-family: Roboto; //

    // Color coding
$primary-color: #9356DC; 
$secondary-color: #FF79DA; 
$third-color: #99E2D0;
$fourth-color: #008766;
$fifth-color: #89C8FA;
$six-color:#003A68;


// Mobile font
$font-size-title: 24px;
$font-weight-title: 700;
$font-size-h2: 18px;
$font-weight-h2: 300;


//Media Queries Screen Size
$breakpoint : (
    'xs': 0,
    'sm': 320px,
    'md': 767px,
    'lg': 1023px,
    'xl': 1439px,
    'xxl': 4200px,
);


/*** Check mark order menu ***/



// End keyframes