/* is there not a better way to write this?*/
/*** Heart Animation ***/
@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}
/*** Check mark order menu ***/
@keyframes fadeAway {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeAway {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*** Heart Animation ***/
@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}
/*** Check mark order menu ***/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** Heart Animation ***/
@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}
/*** Check mark order menu ***/
.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  text-align: center;
}
.explore h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
}
.explore h2 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
}

h3 {
  max-width: 100%;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 23px;
  padding: 10px;
}

h4 {
  margin-bottom: -20px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 23px;
  background-color: #F6F6F6;
  padding: 24px 0 36px 24px;
}

h5 {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
}

.menu-details h2 {
  position: relative;
  display: inline-block;
  padding-bottom: 9px;
}
.menu-details h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%; /* Underline starts from the middle */
  width: 10%; /* Underline covers half of the text */
  height: 2px; /* Height of the underline */
  background-color: #99E2D0; /* Color of the underline */
}

/*** Heart Animation ***/
@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}
/*** Check mark order menu ***/
/*** Heart Animation ***/
@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}
/*** Check mark order menu ***/
@keyframes fadeAway {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/**** Exploration section *****/
.btn-explore {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: white;
  width: 218px;
  margin-top: 35px;
  margin-bottom: 50px;
  border: none;
}
.btn-explore:hover {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

/**** Function buttons ****/
.filter {
  display: flex;
  flex-direction: column;
  margin: 45px 20px;
}
.filter .button-fonction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .filter .button-fonction {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
.filter .button-fonction .btn-f {
  position: relative;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  border: none;
  align-items: center;
}
.filter .button-fonction .btn-f .fa-solid {
  padding-right: 10px;
}
.filter .button-fonction .circle {
  padding: left 1px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 10px;
  background: #9356DC;
  border: none;
  color: white;
  text-align: center;
  position: absolute;
  top: 25%;
  left: -5%;
}
.filter i:first-child {
  color: white;
}
.filter i:nth-child(2) {
  color: #7E7E7E;
}
.filter i:nth-child(2) :hover {
  color: #9356DC;
}

/*** Heart Animation ***/
@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}
/*** Check mark order menu ***/
@keyframes fadeAway {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
footer {
  background-color: #353535;
  width: 100%;
  position: absolute;
  bottom: 10%;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  footer {
    bottom: 3%;
  }
}

.main {
  bottom: -21%;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .main {
    bottom: 23%;
  }
}

.menu-3-f {
  bottom: 5%;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .menu-3-f {
    bottom: -1%;
  }
}

.bottom-box {
  display: flex;
  padding: 22px 25px 22px 25px;
  flex-direction: column;
  color: white;
}
.bottom-box .footer-links, .bottom-box .footer-legal-contact {
  display: flex;
  flex-direction: column;
}
.bottom-box .footer-links a, .bottom-box .footer-legal-contact a {
  padding-top: 10px;
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .bottom-box .footer-links, .bottom-box .footer-legal-contact {
    flex-direction: row;
  }
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .bottom-box {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 90px;
    padding-bottom: 0;
  }
  .bottom-box h5 {
    order: 1;
  }
}
.bottom-box p, .bottom-box span {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0em;
  padding-top: 10px;
}
.bottom-box i {
  padding-right: 6px;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .bottom-box .footer-links, .bottom-box .footer-legal-contact {
    margin: 20px;
  }
  .bottom-box .footer-links span, .bottom-box .footer-legal-contact span {
    padding-right: 20px;
  }
  .bottom-box .footer-legal-contact, .bottom-box span {
    font-weight: 400;
  }
}

/*** Heart Animation ***/
@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}
/*** Check mark order menu ***/
@keyframes fadeAway {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeAway {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-select {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

.menu-select:nth-of-type(1) {
  animation-delay: 0.5s;
}

.menu-select:nth-of-type(2) {
  animation-delay: 1s;
}

.menu-select:nth-of-type(3) {
  animation-delay: 1.5s;
}

.menu-select:nth-of-type(4) {
  animation-delay: 2s;
}

.menu-picture img {
  width: 100%;
  position: relative;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .menu-picture img {
    height: 383px;
  }
}

.menu-details {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding-top: 40px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  top: 19%;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .menu-details {
    width: 90%;
    align-items: center;
    top: 27%;
    right: 5%;
  }
}

.menu-title {
  display: flex;
  position: relative;
}
.menu-title h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  position: relative;
  right: 25%;
}
.menu-title .vendor-favorite {
  display: flex;
  align-items: center;
  position: relative;
  left: 10%;
  cursor: pointer;
}
.menu-title .vendor-favorite:hover .fa-regular {
  color: #9356DC;
}
.menu-title .vendor-favorite:hover .heart-filled {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  animation-duration: 0.5s;
  animation-name: heartCheck;
}
.menu-title .vendor-favorite .heart-filled {
  color: rgba(146, 86, 220, 0);
}
.menu-title .vendor-favorite i {
  position: absolute;
  font-size: 25px;
}

h2 {
  display: flex;
  margin-top: 30px;
}

.starters, .main-course, .desserts {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .starters, .main-course, .desserts {
    margin-bottom: 2%;
  }
}
.starters .menu-select, .main-course .menu-select, .desserts .menu-select {
  width: 320px;
  height: 69px;
  border-radius: 15.04px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  border: none;
  background: white;
  text-align: left;
  position: relative;
  margin-top: 18px;
}
.starters .menu-select .check-mark, .main-course .menu-select .check-mark, .desserts .menu-select .check-mark {
  display: none;
}
.starters .menu-select .check-mark i, .main-course .menu-select .check-mark i, .desserts .menu-select .check-mark i {
  display: none;
}
.starters .menu-select h3, .main-course .menu-select h3, .desserts .menu-select h3 {
  font-size: 18px;
}
.starters .menu-select p, .main-course .menu-select p, .desserts .menu-select p {
  position: absolute;
  top: 50%;
  left: 3.3%;
  font-size: 15.04px;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .starters .menu-select p, .main-course .menu-select p, .desserts .menu-select p {
    left: 1.8%;
  }
}
.starters .menu-select span, .main-course .menu-select span, .desserts .menu-select span {
  position: absolute;
  right: 5%;
  bottom: 30%;
  font-weight: 700;
  font-size: 15.04px;
}
.starters .menu-select:hover .check-mark, .main-course .menu-select:hover .check-mark, .desserts .menu-select:hover .check-mark {
  display: none;
  width: 59px;
  height: 69px;
  border-radius: 0 15px 15px 0;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  border: none;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  right: 0%;
  animation: fadeAway 250ms ease-out forwards;
}
.starters .menu-select:hover .check-mark i, .main-course .menu-select:hover .check-mark i, .desserts .menu-select:hover .check-mark i {
  display: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
  position: absolute;
}
.starters .menu-select:hover span, .main-course .menu-select:hover span, .desserts .menu-select:hover span {
  animation: fadeAway 500ms ease-out forwards;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .starters .menu-select, .main-course .menu-select, .desserts .menu-select {
    width: 634px;
  }
}

.order {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: white;
  width: 218px;
  margin-top: 40px;
  margin-bottom: 50px;
  border: none;
}
.order:hover {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

/*** Heart Animation ***/
@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}
/*** Check mark order menu ***/
/*** Heart Animation ***/
@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}
/*** Check mark order menu ***/
@keyframes fadeAway {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/******** Restaurant Display ********/
.vendors {
  background: #F6F6F6;
  margin: 20px 0 0 0;
  padding-bottom: 100px;
}
.vendors .vendor-link {
  text-decoration: none;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  .vendors {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
  }
}
.vendors h3 {
  padding-top: 60px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 23px;
}
.vendors article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 27px;
}
.vendors article .vendor-pic {
  position: relative;
  display: inline-block;
  width: 90%;
}
.vendors article .vendor-pic img {
  height: 176px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.vendors article .label {
  display: flex;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  right: 8%;
}
.vendors article .vendor-text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75px;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.vendors article .vendor-text .vendor-title {
  font-size: 18px;
  font-weight: 700;
  padding: 14px 0px 0px 10px;
}
.vendors article .vendor-text .vendor-description {
  font-size: 18px;
  font-weight: 500;
  padding: 14px 0px 0px 10px;
}
.vendors article .vendor-text .vendor-favorite {
  display: flex;
  align-items: center;
  position: relative;
  left: 87%;
  bottom: 24%;
  cursor: pointer;
}
.vendors article .vendor-text .vendor-favorite:hover .fa-regular {
  color: #9356DC;
}
.vendors article .vendor-text .vendor-favorite:hover .heart-filled {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  animation-duration: 0.5s;
  animation-name: heartCheck;
}
.vendors article .vendor-text .vendor-favorite .heart-filled {
  color: rgba(146, 86, 220, 0);
}
.vendors article .vendor-text .vendor-favorite i {
  position: absolute;
  font-size: 25px;
}

/*** Heart Animation ***/
@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}
/*** Check mark order menu ***/
@keyframes fadeAway {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*** Heart Animation ***/
@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}
/*** Check mark order menu ***/
/**** Header Section ****/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
}
@media only screen and (min-width: 767px) and (max-width: 4200px) {
  header {
    z-index: 1;
  }
}
header #logo-header {
  justify-content: center;
  width: 200px;
  height: 34.2px;
  margin: 50px 0 50px 0;
}
header .location {
  display: flex;
  width: 100%; /* there are no margin*/
  background-color: #EAEAEA;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-family: var(--text-font-family);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
header .fa-solid {
  padding-right: 10px;
}
header #return-home {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35%;
  left: 1%;
}/*# sourceMappingURL=main.css.map */