/* is there not a better way to write this?*/ 
@use './abstracts/function';
@use './abstracts/mixins';
@use './abstracts/placeholder';
@use './abstracts/variables';
@use './base/reset';
@use './base/typography';
@use './components/buttons';
@use './components/carousel';
@use './components/cover';
@use './components/dropdown';
@use './layout/footer';
@use './layout/forms';
@use './layout/grid';
@use './layout/header';
@use './layout/navigation';
@use './layout/sidebar';
@use './pages/admin';
@use './pages/home';
@use './vendor/bootstrap';



