/* is there not a better way to write this?*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  text-align: center;
}
.explore h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
}
.explore h2 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
}

h3 {
  font-size: 18px;
  font-weight: 300;
}

/**** Exploration section *****/
.btn-explore {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: white;
  width: 218px;
  margin-top: 35px;
  margin-bottom: 50px;
  border: none;
}
.btn-explore:hover {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

/**** Function buttons ****/
.filter {
  display: flex;
  flex-direction: column;
  margin: 45px 20px;
}
.filter h3 {
  max-width: 100%;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 23px;
}
.filter .button-fonction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter .button-fonction .btn-f {
  position: relative;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  border: none;
  align-items: center;
}
.filter .button-fonction .btn-f .fa-solid {
  padding-right: 10px;
}
.filter .button-fonction .circle {
  padding: left 1px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 10px;
  background: #9356DC;
  border: none;
  color: white;
  text-align: center;
  position: absolute;
  top: 25%;
  left: -5%;
}
.filter i:first-child {
  color: white;
}
.filter i:nth-child(2) {
  color: #7E7E7E;
}
.filter i:nth-child(2) :hover {
  color: #9356DC;
}

/**** Cirle ****/
footer {
  background-color: #353535;
}

.bottom-box {
  display: flex;
  padding: 22px 25px 22px 25px;
  flex-direction: column;
  color: white;
}
.bottom-box h4 {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  color: white;
  padding-bottom: 10px;
}
.bottom-box p span {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

/** Restaurant Display **/
.vendors {
  background: #F6F6F6;
  margin: 20px 0 20px 0;
}
.vendors .fa-solid {
  color: #9356DC;
  z-index: -1;
}
.vendors .fa-solid:hover {
  z-index: 0;
}
.vendors h3 {
  padding-top: 60px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 23px;
}
.vendors article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 27px;
}
.vendors article .vendor-pic {
  position: relative;
  display: inline-block;
  width: 90%;
}
.vendors article .vendor-pic img {
  height: 176px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
  width: 100%;
}
.vendors article .label {
  display: flex;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  right: 8%;
}
.vendors article .vendor-text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75px;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.vendors article .vendor-text .vendor-title {
  font-size: 18px;
  font-weight: 700;
  padding: 14px 0px 0px 10px;
}
.vendors article .vendor-text .vendor-description {
  font-size: 17px;
  font-weight: 300;
  padding-left: 10px;
}
.vendors article .vendor-text .vendor-favorite, .vendors article .vendor-text i {
  display: flex;
  flex-direction: row;
  background: white;
  border: none;
  position: absolute;
  right: 7%;
  top: 25%;
  font-size: 24px;
}

/**** Header Section ****/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header #logo-header {
  justify-content: center;
  width: 200px;
  height: 34.2px;
  margin: 50px 0 50px 0;
}
header .location {
  display: flex;
  width: 100%; /* there are no margin*/
  background-color: #EAEAEA;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-family: var(--text-font-family);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
header .fa-solid {
  padding-right: 10px;
}/*# sourceMappingURL=main.css.map */