@import '../abstracts/mixins';

footer{
    background-color: #353535;
    width: 100%;
    position: absolute;
    bottom: 10%;
    @include tablette {
        bottom: 3%;
        }
}
.main{
    bottom:-21%;
    @include tablette {
    bottom: 23%;
    }
}
.bottom-box{
    display: flex;
    padding: 22px 25px 22px 25px;
    flex-direction: column;
    color: white;

    .footer-links, .footer-legal-contact{
    display: flex;
    flex-direction: column;
        a{
            padding-top: 10px;
            text-decoration: none;
            color: white;
        }
    @include tablette {
        flex-direction: row;
    }
}
    
    @include tablette {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 90px;
        padding-bottom: 0;
        h5{
            order:1;
        }        
    }

    p, span{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0em;
        padding-top: 10px;
        }
    i{
        padding-right: 6px;
    }
    @include tablette {
        .footer-links, .footer-legal-contact{
            margin: 20px;

            span{
                padding-right: 20px;
            }
        }
        .footer-legal-contact, span{
            font-weight: 400;
        }
    } 
}
