@import '../abstracts/mixins';

footer{
    background-color: #353535;
}
.bottom-box{
    display: flex;
    padding: 22px 25px 22px 25px;
    flex-direction: column;
    color: white;
    @include tablette {
        flex-direction: reverse;
    }


    p, span{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0em;
        padding-top: 10px;
        @include tablette {
            
    }
}
    i{
        padding-right: 6px;
    }
    @include tablette {
        flex-direction: row-reverse;

    }

}
