
:root {
    /* Polie coding  */
    --titlelogo-font-family: shrikhand;
    --text-font-family: Roboto;

    /* Color coding  */
    --primary-color: #9356DC; 
    --secondary-color: #FF79DA; 
    --third-color: #99E2D0;

}