
/**** Exploration section *****/
.btn-explore {
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
    linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    color: white;
    width: 218px;
    margin-top: 35px;
    margin-bottom: 50px;
    border:none;
        &:hover{
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            }
        }

/**** Function buttons ****/
.filter {
    display: flex;
    flex-direction: column;
    margin: 45px 20px;
    h3{
        max-width: 100%;
        margin-bottom: 35px;
        font-size: 24px;
        font-weight: 700;
        padding-left: 23px;
    }
.button-fonction{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

        .btn-f {
            position:relative;
            background: #F6F6F6;
            box-shadow: 0px 4px 15px 0px #00000026;
            width: 322.49px;
            height: 72.38px;
            border-radius: 20px;
            font-family: var(--text-font-family);
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 20px;
            border:none;
            align-items: center;
        }
        .circle {
            padding: left 1px;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            padding: 10px;
            background: #9356DC;
            border: none;
            color: white;
            text-align: center;
            position: absolute;
            top: 25%;
            left: -5%;
        }
                }   
        i:first-child{
            color: white;
        }
        i:nth-child(2){
            color: #7E7E7E;
            :hover{
                color:#9356DC;
            }
        }
    }



    
            

// /**** Filter buttons ****/


/**** Cirle ****/
